/* UTILITY CLASS*/
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.fr{
    float:right;
}

.fl{
    float:left
}

.text-white{
  color: white;
}

.text-grey{
  color: #626262;
}

.txt-center{
  text-align: center;
}
.margin-r-30{
  margin-right: 30px;
}

.hover:hover{
  color: white;
  text-decoration: none;
}
.add-button:hover{
  background-color: white;
}
/* end utility class*/



/* wrapper*/
.wrapper{
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-color: #141922;
  font-family: 'Montserrat', sans-serif;
}

.main-wrapper{
  width: 100%;
  height: calc(100% - 90px);
}
/* end wrapper*/




/* sidebar*/
.my-sidebar{
  width: 250px;
  height: calc(100vh - 90px);
  background-color: #000;
  padding: 0 30px;
  position: relative;

}

.logo{
  height: 100px;
}
.logo img{
  width: 70%;
  padding: 30px;
}

.my-sidebar .my-menu ul li:first-child img{
    width: 70%;
    padding: 15px 0 30px;
}

.content-sidebar{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 100px);
  overflow-y: auto;
}

.my-sidebar ul li{
  list-style: none;
  vertical-align: middle;
  padding: 10px 0px 10px;
}

.my-sidebar .my-menu ul li:nth-child(3)::before{
  content: "";
  display: inline-block;
  height: 40px;
  width: 4px;
  background-color: #9CF749;
  vertical-align: middle;
  position: absolute;
  left: 0;
  top: 105px;
}



.my-menu img{
  width:25px;
  margin-right: 5px;
}

.add-button{
  background-color: #999999;
  height: 30px;
  width: 30px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  color: #000;
  font-size: 22px;
  margin-right: 10px;
}

.title-sidebar{
  padding-bottom: 15px;
}

.sidebar-footer div:first-child{
  border-bottom: 1px solid #999;
  padding-bottom: 10px;
  margin-bottom: 15px;
  font-size: 10px;
}


.sidebar-footer div:first-child img{
  height: 10px;
  margin-right: 5px;
  vertical-align: middle;
}
.sidebar-footer div:last-child{
  margin-bottom: 5px;
}
.sidebar-footer div:last-child img{
  height: 20px;
  width: 20px;
  margin-right: 5px;
  background-color: #757575;
  border-radius:50%;
}
/* end sidebar*/


/* HEADER UPGRADE*/
.my-header{
  width:calc(100vw - 250px);
  height:100px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
  position: fixed;
  z-index: 99;
}

.upgrade-button{
  border: 1px solid white;
  height: 40px;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 12px;
}

.upgrade-button:hover{
  transform: scale(1.2);
}
/* end HEADER UPGRADE*/


/* MAIN CONTENT*/
.my-main-content{

  width:calc(100vw - 250px);
  height: 100%;
  overflow-y: auto;

}

.my-nav{
  width:calc(100vw - 250px);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  flex-wrap: wrap;
}

.my-nav div:first-child:after{
  background-color: #9CF749;
  content: "";
  display: block;
  height: 3px;
  position: relative;
  width: 30px;
  margin-left: 30px;
}

.my-nav div{
  padding-right: 15px;
  font-weight: bold;
}



.my-music{
padding-left: 30px;
}

.title-row{
  padding: 30px 0;
  font-size: 20px;
  font-weight: bold;
}

.list-song{
  display: flex;
  flex-wrap: wrap;
}

.title-row-description{
  font-size: 15px;
  font-weight: normal;
  padding-top: 10px;
}
.song{
  width: calc(100%/6 - 30px);
}

.copertina{
  position: relative;

}


.overlay{
  position: absolute;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  height: 100%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.my-row .fa-play-circle-o{
  font-size: 100px;
  color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.copertina:hover .overlay{
  display:block;
}

.copertina img{
  width: 100%;
  vertical-align: middle;

}

.cover-round{
  border-radius: 100%;
}

.text-song{
  text-align: center;
  padding-bottom: 15px;
}

.title-song{
  width: 100%;
  padding: 15px 0;
}


/* footer*/


footer{
  height: 90px;
  width: 100%;
  background-color: #282828;
  display: flex;
  justify-content: space-between;
}

.mini{
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.mini img{
  width: 50px;
  height: 50px;
  margin: 0 10px 0 30px;
}
.mini-text{
  line-height: 16px;
}
.mini-text span:nth-child(3){
  font-size: 12px;
}

.playbar{
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.command{
  display: flex;
  align-items: center;
  justify-content: center;

}
.command i{
 padding: 0 10px 10px;
}

.command i:nth-child(3){
  font-size: 30px;
}

.command i:nth-child(3):hover{
  transform: scale(1.2);
}

.time-bar{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.elapsed-time{
  width: 100%;
  height: 4px;
  background-color: #505050;
  margin: 0 10px;
  border-radius: 4px;
}

.filler-time{
  position: relative;
  height: 4px;
  background-color: #BABABA;
  border-radius: 4px;
}

.fill20{
  width: 20%
}
.fill15{
  width: 15%
}

.pointer{
  position:absolute;
  height: 10px;
  width: 10px;
  background-color: #BABABA;
  border-radius: 50%;
  transform: translate(50%, -50%);
  right: 0;
  top: 50%;
  display: none;
}

.elapsed-time:hover .filler-time{
  background-color: #C6F376;

}
.elapsed-time:hover .pointer{
  display: block;
}

.volume{
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.volume i{
  padding:5%;
}


/* MEDIA QUERY*/

@media screen and (max-width: 992px) {
  .song{
    width: calc(100%/4 - 30px);
  }

}


.nascondi-md{
  display:none;
}


@media screen and (max-width: 768px) {
  .song{
    width: calc(100%/2 - 30px);
  }

}


.nascondi-s{
  display:none;
}



@media screen and (max-width: 576px) {

  .nascondi-xs{
    display:none;
  }
  .visibile-xs{
    display:block;
  }
  .my-sidebar{
    width: 80px;
    padding: 10px 0 0 0;
    text-align: center;
  }

  .my-header{
    width:calc(100vw - 80px);
  }

  .my-main-content{
    width:calc(100vw - 80px);
  }

  .song{
  width: calc(100%/2 - 30px);
  }

  .my-nav{
    width:calc(100vw - 80px);
  }

  .sidebar-footer{
    text-align: center;
  }

  .sidebar-footer div::first-child img{
    width: 50px;
  }

  .my-menu img{
    width:25px;
    margin-right:0px;
  }

  .content-sidebar{
    height: 100%;
  }

  .my-sidebar .my-menu ul li:nth-child(3)::before{
    display: none;
  }
}
